@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}
a {
  text-decoration: none;
}
/* variables */
:root {
  --text-blue: hsl(228, 39%, 23%);
  --primary-orange: hsl(12, 88%, 59%);
  --p-blue: hsl(227, 12%, 61%);
  --light-gray: hsl(0, 0%, 98%);
  --light-orange: hsl(13, 60%, 96%);
  --dark-blue: hsl(233, 12%, 13%);
  --ff: "Be Vietnam Pro", sans-serif;
}
/* utilities */
.flex {
  display: flex;
}

.inline {
  display: inline-block;
}

.noList {
  list-style-type: none;
}

.btn-orange {
  background-color: var(--primary-orange);
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 8rem;
  box-shadow: 0 0.3rem 0.5rem -0.2rem var(--primary-orange);
}

.blue-text {
  color: var(--p-blue);
}

.light-gray-text {
  color: var(--light-gray);
}

.padding-block-4 {
  padding-block: 4rem;
}

.padding-inline-8 {
  padding-inline: 8rem;
}

/* styling */
@media screen and (width > 1440px) {
  main,
  .primary-h {
    margin: auto;
    width: 1440px;
  }
  .primary-h .logo {
    justify-self: left !important;
  }
  .primary-h .btn-orange {
    justify-self: end !important;
  }
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.2rem;
}
h1,
h2,
h3 {
  color: var(--text-blue);
  font-weight: bold;
}

a {
  color: var(--text-blue);
  font-weight: 500;
}

p {
  font-size: 0.8125rem;
}

button {
  font-weight: 500;
}

br {
  display: none;
}

.primary-h {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding-block: 4rem;
  align-items: center;
}
.primary-h .logo {
  justify-self: center;
}
.primary-h .btn-orange {
  justify-self: center;
}

.primary-nav ul {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.primary-h .icon {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 5rem;
  margin-top: 5rem;
  position: relative;
}

.first {
  flex-direction: column;
  gap: 1rem;
}
.first .btn-orange {
  width: 8rem;
}
.img-container img {
  margin: auto;
}

.infoList {
  flex-direction: column;
  justify-content: space-between;
}
.infoList > div {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  gap: 1rem 0rem;
  margin-block: 1rem;
  align-items: center;
}
.infoList > div p {
  grid-column: 2 / -1;
}
.infoList .btn-orange {
  width: 5rem;
  box-shadow: none;
}
.title-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  grid-column: 1 / 3;
  align-items: center;
}

.carousel {
  margin-block: 5.5rem;
  padding-block: 0.5rem;
  grid-column: 1/3;
  text-align: center;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
}
.carousel h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.card-wrapper {
  --posX: 0;
  width: fit-content;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-block: 5.5rem;
  transform: translate(var(--posX));
}
.carousel-card {
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  flex-basis: 45%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 4rem;
  background-color: var(--light-gray);
}
.carousel-card img {
  width: 20%;
}

.large-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
  background-color: var(--primary-orange);

  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-position: center;
}
.large-card .btn-orange {
  color: var(--primary-orange);
  background-color: var(--light-gray);
  box-shadow: 0 0.3rem 0.5rem -0.2rem brown;
}
.large-card h1 {
  justify-self: start;
}

.info {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 35vh;
  background-color: var(--dark-blue);
}
.info .logo {
  grid-row: 1;
}
.socials {
  width: 100%;
  justify-content: space-evenly;
  grid-row: 2;
  align-items: center;
  padding-inline: 4rem;
}
.info ul:not(.socials) {
  flex-direction: column;
  grid-row: 1 / span lastLine;
  gap: 2rem;
}
.info a {
  color: var(--light-gray);
  font-weight: 400;
}
.info p {
  align-self: self-end;
}
form input[type="email"] {
  padding: 0.7rem;
  border-radius: 1.4rem;
  margin-right: 1rem;
  width: calc(100% - 5.5rem);
}
input.btn-orange {
  width: 4rem;
  box-shadow: none;
}

br.bigger-1440 {
  display: block;
}

/* TRANSITIONS */
a,
.btn-working {
  transition: all 300ms cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
a:hover {
  color: var(--p-blue);
  filter: brightness(90%);
  cursor: pointer;
}
.btn-working:hover {
  filter: brightness(130%);
  cursor: pointer;
}
footer a:hover {
  color: var(--primary-orange);
}
/* BACKGROUND */
.primary-h {
  position: relative;
}
.primary-h::before {
  position: absolute;
  content: "";
  background: url("../images/bg-tablet-pattern.svg") no-repeat;
  background-position: left bottom;
  background-size: 814px;
  width: 720px;
  height: 720px;
  top: 0;
  right: 0;
  z-index: -1;
}
main {
  position: relative;
}
main::after {
  position: absolute;
  content: "";
  background: url("../images/bg-tablet-pattern.svg") no-repeat;
  background-position: bottom right;
  background-size: 814px;
  width: 500px;
  height: 814px;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
/* MEDIA */
@media screen and (width <= 1440px) {
  main {
    padding-inline: 4rem;
  }

  br.bigger-1440 {
    display: none;
  }
  br.less-1440 {
    display: block;
  }
}
@media screen and (width <= 1220px) {
  h1 {
    font-size: 3rem;
  }

  .socials {
    align-self: center;
    padding-inline: 1rem;
  }
}
@media screen and (width <= 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
    margin: auto;
    row-gap: 3rem;
  }
  main > *:not(.carousel) {
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .img-container {
    order: -1;
  }
  .img-container img {
    width: 100%;
  }

  .primary-h {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-inline: 2rem;
    position: relative;
  }
  .primary-h .logo {
    justify-self: start;
  }
  .primary-h .btn-orange {
    display: none;
  }
  .primary-h .icon {
    display: block;
    background-color: hsla(0, 0%, 100%, 0)
    padding-left: 4rem;
  }
  [aria-hidden="true"] {
    display: none;
    justify-self: end;
  }
  [aria-hidden="false"] {
    display: block !important;
    justify-self: end;
  }
  .primary-nav {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    background-color: var(--light-orange);
    box-shadow: 0px 200px 450px 100vh hsla(0, 100%, 0%, 50%);
    z-index: 99;
    animation-name: showUp;
    animation-duration: 200ms;
    animation-delay: 0;
    animation-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1.15);
    animation-fill-mode: both;
  }
  .primary-nav ul {
    animation: opacity;
    animation-duration: 300ms;
    animation-delay: 0;
    animation-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1.15);
    animation-fill-mode: both;
  }
  @keyframes showUp {
    from {
      height: 0px;
      padding-block: 0rem;
    }
    to {
      height: 329.062px;
      padding-block: 3rem;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .primary-nav ul {
    width: 100%;
    flex-direction: column;
  }

  .title-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 0.3fr 1.5fr;
    background-color: var(--light-orange);
    border-radius: 2.5rem;
    grid-column: 1 / 3;
    height: 2.5rem;
    align-items: center;
    padding: 1rem;
  }
  .infoList > div p {
    text-align: justify;
    grid-column: 1 / 3;
  }
  .infoList .btn-orange {
    width: 4rem;
    height: 2.5rem;
    box-shadow: none;
    box-sizing: content-box;
    position: absolute;
  }
  .infoList h2 {
    position: absolute;
    width: calc(100% - 8rem);
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel {
    -webkit-mask: linear-gradient(90deg, white, white 99%, transparent 100%);
    mask: linear-gradient(90deg, white, white 99%, transparent 100%);
    width: 100%;
  }
  .carousel h1 {
    font-size: 2.2rem;
    width: 85%;
  }
  .carousel > .card-wrapper {
    --posX: 0 !important;
    margin-bottom: 0px;
  }
  .carousel-card {
    flex-basis: 80vw;
    margin: auto;
  }
  .carousel-card[data-active="false"] {
    display: none;
  }
  .carousel-card[data-active="true"] {
    display: flex;
  }
  .buttons-wrapper {
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-block: 2rem;
  }
  .buttons-wrapper .carousel-button {
    padding: 0.3rem;
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
  }
  .carousel-button[data-active="true"] {
    background-color: var(--primary-orange);
  }
  .carousel-button[data-active="false"] {
    background-color: var(--light-orange);
  }

  .large-card {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-inline: 2rem;
    row-gap: 2rem;
  }
  .large-card h1 {
    justify-self: center;
    text-align: center;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 2fr 0.2fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: max-content;
    row-gap: 1.5rem;
    padding-inline: 3rem;
    padding-block: 4rem;
  }
  .info form {
    grid-row: 1;
    grid-column: 1/3;
    align-self: flex-end;
  }
  .info ul.first {
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    justify-content: space-between;
  }
  .info ul.second {
    justify-content: space-between;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
  }
  .info ul.socials {
    grid-row: 3;
    grid-column: 1/3;
    width: 80%;
    margin-top: 1rem;
  }
  .info .logo {
    grid-column: 1/3;
    grid-row: 4;
  }
  .info p {
    grid-column: 1/3;
    grid-row: 5;
    align-self: baseline;
  }
}
@media screen and (width <= 600px) {
  .carousel-card img {
    width: 20vw;
  }
  /* BACKGROUND */
  .primary-h::before {
    display: none;
  }
  main::after {
    display: none;
  }
}
/* MEDIA */
